#instructionsBox{
    background-color: transparent;
    color: white;
}

.gameRow{
    border: solid lightgray 1px;
    border-top: none;
    padding: 6px;
    font-size: 1em;
    color: white;
}

#topGameRow{
    border-top: solid lightgray 1px;
    margin-top: 40px;
    padding: 6px;
}

#puzzleRow{
    padding: 20px;
    font-size: 30px;
}

#wrong-guesses{
    font-weight: bold;
}

body, html {
    height: 100%;
    
  }
  
  .bg { 
    /* The image used */
    background-image: url("background.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }